.editorconfig          export-ignore
.gitattributes         export-ignore
.gitignore             export-ignore
.php-cs-fixer.php      export-ignore
.php-cs-fixer.cache    export-ignore
/.github/              export-ignore
/dev-docker/           export-ignore
/examples/             export-ignore