.vscode
vendor
docker/data
docker/storage
composer.lock
docker-compose*.yml
src/*.php
src/*.json
!src/Invoice.php
!src/Utils.php
!src/Render.php
.php-cs-fixer.cache
node_modules
docs/.vitepress/cache
docs/.vitepress/dist
examples/*
invoice
package-lock.json
yarn.lock
